{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "unused-imports",
    "import",
    "sort-destructure-keys",
    "promise",
    "jsx-a11y",
    "unicorn"
  ],
  "rules": {
    "no-console": ["warn", { "allow": ["error"] }],

    "no-redeclare": "off",
    "no-empty-function": "off",
    "no-shadow": "off",
    "no-prototype-builtins": "off",
    "no-restricted-imports": [2, { "paths": ["lodash"] }],

    "@typescript-eslint/no-redeclare": "warn",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-use-before-define": "off",

    // Need to be off
    // See https://www.npmjs.com/package/eslint-plugin-unused-imports
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",

    "jsx-a11y/alt-text": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/no-static-element-interactions": "off",

    "promise/no-native": "off",
    "promise/param-names": "error",

    // referred to this
    // https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/order.md#importorder-enforce-a-convention-in-module-import-order
    "import/order": [
      "error",
      {
        "alphabetize": { "order": "asc" },
        "newlines-between": "always",
        "pathGroupsExcludedImportTypes": ["builtin"],
        "groups": [
          "builtin",
          "internal",
          "external",
          ["parent", "sibling"],
          "object",
          "type",
          "index"
        ],
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "internal",
            "position": "before"
          }
        ]
      }
    ],

    "sort-destructure-keys/sort-destructure-keys": [
      "error",
      { "caseSensitive": false }
    ],

    "unused-imports/no-unused-imports": "warn",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],

    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "camelCase": true,
          "pascalCase": true,
          "kebabCase": false,
          "snakeCase": false
        }
      }
    ]
  },
  "env": {
    "node": true
  }
}
